poema {display: block; margin: 40px;}

titulo {display: block; font-size: 24pt; font-weight: bold; margin: 10px;}

quadra, terceto, verso {display: block; }

nome {color: blue; }

local {color: blueviolet; }