extends layout

block content
  h1 Área Protegida
  p Passaste a barreira de autenticação...
  ul
    li
      a(href="/users/login") Login
    li
      a(href="/users/logout") Logout
    li
      a(href="/users/register") Registo
    li
      a(href="/") Homepage
