extends layout

block content
  h1 Autenticação Básica com NodeJS
  p Chegaste à homepage...
  ul
    li
      a(href="/users/login") Login
    li
      a(href="/users/register") Registo
    li
      a(href="/protegida") Protegida
