doctype html
html
  head
    title= Success
    script(src="/javascripts/jquery-3.5.1.min.js")
    script(src="/javascripts/scripts.js")
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin='anonymous')
  body
    script.
        setTimeout("location.href = '/login';",5000);
    p Registo efetuado com sucesso! A redireccionar para a página de login...