.profile-head {
  transform: translateY(5rem)
}

.cover {
  background-image: url(https://www.htmlcsscolor.com/preview/gallery/FFFFFF.png);
  background-size: cover;
  background-repeat: no-repeat
}

body {
  min-height: 100vh
}

.pfp {
  max-width: 150px;
}

.b-primary {
  text-align: center;
  background-color: #72c4c4;
}

.b-secondary {
  text-align: center;
  background-color: #a0a0a0;
}

.b-sec2 {
  display: inline;
}

.b-primary:hover {
  opacity: 80%;
  filter: alpha(opacity=80);
  background-color: #72c4c4 !important;
}

.b-secondary {
  color: #ffffff;
  margin-right: 5px;
  opacity: 80%;
  filter: alpha(opacity=80);
  background-color: #a0a0a0 !important;
}

.no-info {
  color: dimgray;
}

.nome {
  align-self: start;
  margin-top: 5px;
}

.sub-titulo {
  font-size: 16px;
  margin-left: 3px;
  font-weight: bold;
  margin-bottom: 3px;
}

.form-meio {
  margin: auto;
  margin-top: 300px;
  border: 10px solid #a0a0a0;
  background-color: #fff;
  width: 600px;
}

.pag-inicial {
  background-color: #72c4c4;
  overflow:hidden;
}

.add-more {
  padding: 1px 3px;
  background-color: #ccc;
}